<main class="main post-page">
    <% if (wordcount(page.content)!="0"){ %>
        <article class="article-entry">
            <%- page.content %>
        </article>
        <!--  Author information  -->
        <div class="license-wrapper" style="margin:10rem 0 0">
            <p>作者：<a href="<%- config.url %>"><%- config.author %></a>
            <p>发表时间：<a href=""><%- (page.date).format('MMMM Do YYYY, h:mm:ss a') %></a>
            <p>最后更新：<a href=""><%- (page.updated).format('MMMM Do YYYY, h:mm:ss a') %></a>
            <p>分类：
                <% page.categories.each(function (category) { %>
                    <span class="sidebar-tag-name" style="color:#000" data-categories="<%- category.slug %>"><span class="iconfont-archer">&#xe60a;</span><%- category.slug %></span>
                <% }) %>
            </p>
            <p>标签：
                <% page.tags.each(function (tag) { %>
                    <span class="sidebar-tag-name" style="color:#000" data-tags="<%- tag.name %>"><span class="iconfont-archer">&#xe606;</span><%- tag.name %></span>
                <% }) %>
            </p>
        </div>
    <% } else { %>
        <article class="article-entry">
            <h1>还没开始写呢。</h1>
            <a href="<%- theme.url %>"><%- theme.subtitle %></a>
        </article>
    <% } %>
    <!-- license  -->
    <!-- <% if(theme.copyright.enable === true && page.copyright !== false) { %>
        <div class="license-wrapper">
            <p>原文链接：<a href="<%- page.permalink %>"><%- page.title %></a>
            <p>发表时间：<a href="<%- page.permalink %>"><%- (page.date).format('MMMM Do YYYY, h:mm:ss a') %></a>
            <p>最后更新：<a href="<%- page.permalink %>"></a><%- (page.updated).format('MMMM Do YYYY, h:mm:ss a') %></a>            
            <p>版权声明：<%- theme.copyright.license %></p>
        </div>
    <% } %> -->
    <!-- paginator  -->
    <ul class="post-paginator">
        <li class="next">
            <% if (page.prev){ %>
                <div class="nextSlogan">Next Post</div>
                <a href= "<%- url_for(page.prev.path) %>" title= "<%- page.prev.title %>">
                    <div class="nextTitle"><%- page.prev.title || '[Untitled Post]' %></div>
                </a>
            <% } %>
        </li>
        <li class="previous">
            <% if (page.next){ %>
                <div class="prevSlogan">Previous Post</div>
                <a href= "<%- url_for(page.next.path) %>" title= "<%- page.next.title %>">
                    <div class="prevTitle"><%- page.next.title || '[Untitled Post]' %></div>
                </a>
            <% } %>
        </li>
    </ul>
    <!-- 评论插件 -->
    <%- partial('_partial/comment/livere') %>
    <%- partial('_partial/comment/disqus') %>
    <%- partial('_partial/comment/gitment') %>
    <!-- partial('_partial/comment/changyan') -->
    <%- partial('_partial/comment/youyan') %>
    <%- partial('_partial/comment/custom') %>
    <%- partial('_partial/comment/valine') %>
    <!-- 评论 -->
</main>